/* You can add global styles to this file, and also import other style files */

$black: #444444;
$orange: #ff8b00;
$gold:  #ffc60b;
$whitebkg: #feffdb;

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url('/assets/images/background.jpg') no-repeat center center fixed;
    position:relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

h2 {
    background:$black;
    color:white;
    width:100%;
    padding:10px;
    margin:0;
}