<div class="container top-section">
    <div class="row">
        <div class="col-md-6">
            <h2>Classic Gold is back!</h2>
            <div class="intro-text">
                <p>Classic Gold broadcasts from Toronto, Canada. We are playing only the best music from the 60s, 70s, 80s, and 90s. Great DJs, unforgettable tunes, good old time radio. This is Classic Gold! You can listen to our station 24/7 either through www.classicgold.ca or the TuneIn app.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Now Playing</h2>
            <div class="row current-wrapper">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{response?.results[0].img_large_url}}" />
                </div>
                <div class="col-md-6 current-text">
                    <p><strong>Artist:</strong><br />{{response?.results[0].author}}</p>
                    <p><strong>Song:</strong><br />{{response?.results[0].title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row news-title">
        <div class="col-md-12">
            <h2>Entertaiment News</h2>
        </div>
    </div>
    <div *ngFor="let newsItem of news" class="row news-item">
        <div class="col-md-3">
            <img class="img-fluid" src="{{newsItem.urlToImage}}" />
        </div>
        <div class="col-md-9">
            <h4>{{newsItem.title}}</h4>
            <p [innerHTML]="newsItem.description"></p>
        </div>
    </div>
</div>
